<h1>Welcome to Vacation Planner</h1>

   <ul>
      <li *ngFor="let dest of destinations | async">
        <u><b>{{ dest.location[1].formatted_address }}</b></u>
      	<ul class='sub-dest-data'>
      		<li>
      			Added by: {{ dest.user }}
      		</li>
			<li>
      			Date Added: {{ dest.timeAdded[0] }}
      		</li>
      	</ul>
      </li>

    </ul>

  <!-- <ul id='DestList' *ngIf="this.destinations$ | async as this.destinations$"> -->
    <!-- <li class='destination' *ngIf="loc">{{loc}}</li> -->
  <!-- </ul> -->
<!-- <button (click)='firebase()'>Firebase</button> -->
<!-- <a href="https://slackin-pbfjhfxnsa.now.sh"><img src="https://slackin-pbfjhfxnsa.now.sh/badge.svg"></a><br>
<a href="https://circleci.com/gh/codediodeio/angular-firestarter"><img src="https://circleci.com/gh/codediodeio/angular-firestarter.svg?style=svg"></a>

<p>I am a Progressive Web App (PWA) built with Angular and Firebase.</p>

<h2>Have Questions?</h2>

<p>
    <i class="fa fa-slack fa-lg"></i> Let's talk on the <a target="blank" href="https://goo.gl/qF8Q5r">
  Angular Firebase Developers Slack Team
</a>
</p>

<h2>Free Open Source Screencasts</h2>

<p>
    <i class="fa fa-youtube fa-lg"></i> Subscribe to the <a href="https://www.youtube.com/channel/UCsBjURrPoezykLs9EqgamOA">AngularFirebase YouTube Channel</a> for weekly lessons.
</p> -->