.container {
	display: flex;
	flex-flow: row wrap;
}
ul, li {
	list-style-type: none;
}

.item {
//	flex-basis: auto;
	margin: 5px;
	padding: 15px;
	background: lightblue;
	border: 2px solid skyblue;
	width: 250px;
}	

.subitem {
	display: block;
	font-size: 10px;
	margin-bottom: 10px;
}