.notes {
	border: 1px solid black;
	border-radius: 12px;
	margin: 10px 3px;
	padding: 10px;
	background: lightgray;
	display: flex;
	width: 60vw;
}

.note {
	font-size: 10px;
}

.loadNotes{
	font-size: 12px;
}