<div class='intro alert alert-info'>Add Destinations to the Map by Clicking. Remove Destinations with Right Click.</div>
<div id='map'>
<ngui-map class='map' style="height:70vh; width:100%"
  center="[{{zoomLat}}, {{zoomLng}}]"
  zoom='4'
  [zoomControlOptions]="{position: 'TOP_RIGHT'}"
  [fullscreenControl]="true"
  [fullscreenControlOptions]="{position: 'TOP_RIGHT'}"
  [scrollwheel]="true"
  (click)="onClick($event)">
  <marker *ngFor='let pos of positions' 
    (click)='onMarkerClick($event)'
    [position]="pos"
    (rightclick)="onRightClick($event)"
    (dragstart)="onStartDrag($event)"
    (dragend)="onDrag($event)"
    draggable="true"
    >
    <!-- icon='http://www.clker.com/cliparts/I/l/L/S/W/9/map-marker-hi.png' -->
  <info-window id="iw" *ngFor='let dest of locUsers'>
      <div *ngIf='dest.location[0].geometry.location.lat == pos[0]'>{{ pos }}</div>
      <div>Added by: {{ dest.user[0] }}</div>
      <!-- <button (click)="hideMarkerInfo()">Hide Info</button> -->
  </info-window>
  </marker>
</ngui-map>
<!-- <button (click)="addDestinations()">Destinations</button> -->
</div>
<ul id='DestList' class='list-group list-group-flush container' *ngFor='let dest of locUsers'>
	<li class='list-group-item destination' *ngIf="dest">{{ dest.user[0] }}: {{ dest.location[0].formatted_address }}</li>
  <!-- <li *ngIf='photo | async as photo'>{{photo}}</li> -->
</ul>
 

 <!-- (drag)="findLocation($event)" -->