<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            <img src="https://previews.123rf.com/images/vladiislav/vladiislav1510/vladiislav151000042/47170995-travel-logo-from-palm-trees-in-the-circles-isolated-on-a-white-background-.jpg" width="30px" alt="Firestarter Angular4 Demo App" /> &nbsp; Déchery Vacation Planner
        </a>

        <a id="navToggle" role="button" class="navbar-burger" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" [ngClass]="{'is-active': show}">
        <div class="navbar-end">
            <a class="navbar-item" routerLink="/login">
        Login
      </a>
            <a class="navbar-item" routerLink="/map">
        Map
      </a>
            <a class="navbar-item" routerLink="/notes">
        Notes
      </a>
            <a class="navbar-item" routerLink="/uploads">
        Image Uploads
      </a>
        </div>
    </div>
</nav>